.container{
    width: 576px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    color: #4e4e4e;
}

.title{
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 75px auto;
    justify-content: center;
    margin-top: 20px;
}
.title_text{
    font-size: 32px;
    font-weight: bold;
}
.introduction{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 60px;
}